.grid-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 10vh; /* Adjust as needed */
    padding-bottom: 5vh; /* Adjust as needed */
  }
  